<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fracments/head"></head>
<body>

    <div class="container" th:replace="fracments/header"></div>

    <div class="container mt-5">
        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
            [[${message}]]
            <buton type="button" class="close" data-dismiss="alert" aria-label="close">✚</buton>
        </div>

    </div>
    <div class="container mt-5">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Nivel</th>
                    <th>Publicado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso: ${cursos}">
                    <td th:text="${curso.id}"></td>
                    <td th:text="${curso.titulo}"></td>
                    <td th:text="${curso.descripcion}"></td>
                    <td th:text="${curso.nivel}"></td>
                    <td>
                        <a th:if="${curso.isPublicado == true}" class="fa-regular fa-square-check"></a>
                        <a th:if="${curso.isPublicado == false}" class="fa-regular fa-square icon-dark"></a>
                    </td>
                    <td>
                        <a th:href="@{'/cursos/' +  ${curso.id}}" title="Editar Curso" class="fa-regular fa-pen-to-square icon-dark btn btn-primary"></a>
                        <a th:href="@{'/cursos/delete/' +  ${curso.id}}" title="Eliminar Curso" class="fa-regular fa-trash-can icon-dark btn btn-danger"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fracments/footer"></div>
</body>
</html>