<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fracments/head"></head>
<body>

    <div class="container" th:replace="fracments/header"></div>

    <div class="container mt-5">
        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
            [[${message}]]
            <buton type="button" class="close" data-dismiss="alert" aria-label="close">✚</buton>
        </div>
        <div class="container my-3 p-0">
            <form id="searchForm" th:action="@{/cursos}">
                <div class="row">
                    <div class="col-md-6 input-group mt-3">
                        <div class="search">
                            <i class="">
                                <input id="keyword" type="text" name="keyword" th:value="${keyword}" required
                                        class="form-control mb-3" placeholder="Ingrese un Nombre">
                                <button type="submit" class="btn btn-secondary" onclick="search()">Buscar</button>
                            </i>
                        </div>
                    </div>
                    <div class="col-md-6 input-group mt-3">
                            <div class="mr-3">
                                <label  for="pageSize" >Elementos por página</label>
                            </div>

                            <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                                    class="form-control" id="pageSize">
                                <option  th:each="s :  ${ {3, 6, 9} }" th:value="${s}" th:text="${s}"
                                         th:selected="${ s == pageSize }">
                                </option>
                            </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container" th:if="${cursos.size() > 0}">
        <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-start">
                <a th:href="@{/export/pdf}" class="btn btn-danger">Genera DPF</a>
                &nbsp &nbsp
                <a th:href="@{/export/excel}" class="btn btn-success">Genera Excel</a>
            </div>
        </div>
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Nivel</th>
                    <th>Publicado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso: ${cursos}">
                    <td th:text="${curso.id}"></td>
                    <td th:text="${curso.titulo}"></td>
                    <td th:text="${curso.descripcion}"></td>
                    <td th:text="${curso.nivel}"></td>
                    <td>
                        <a th:if="${curso.isPublicado == true}" class="fa-regular fa-square-check"></a>
                        <a th:if="${curso.isPublicado == false}" class="fa-regular fa-square icon-dark"></a>
                    </td>
                    <td>
                        <a th:href="@{'/cursos/' +  ${curso.id}}" title="Editar Curso" class="fa-regular fa-pen-to-square icon-dark btn btn-primary"></a>
                        <a th:href="@{'/cursos/delete/' +  ${curso.id}}" title="Eliminar Curso" class="fa-regular fa-trash-can icon-dark btn btn-danger"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" th:unless="${cursos.size() > 0}">
        <span>Cursos no encontrados</span>
    </div>
    <nav aria-label="Pagination" th:if="${TotalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fracments/paging :: paging(1,'<<','Primera página')"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fracments/paging :: paging(${currentPage-1},'Anterior','Anterior página')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1,currentPage + 2 < TotalPages ? currentPage + 2 : TotalPages)}">
                <a th:replace="fracments/paging :: paging(${page},${page},'Page' + ${page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 > TotalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == TotalPages} ? 'disabled'">
                <a th:replace="fracments/paging :: paging(${currentPage + 1},'Siguiente','Siguiente página')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == TotalPages} ? 'disabled'">
                <a th:replace="fracments/paging :: paging(${TotalPages},'>>','Última página')"></a>
            </li>
        </ul>
    </nav>


    <div th:replace="fracments/footer"></div>
</body>
</html>